
<h1>Logueate</h1>
<form action="/session/login" method="POST"id="loginForm">
    <label>Correo electrónico</label>
    <input type="email" name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <input type="submit">
</form>

<p>Registrate es gratis !!!  
<br>    
<a href="/session/register">Registrate</a></p>
<br>
<script type="module" src="/authenticate.js"></script>